[constants]
kB = 1.3806488e-23
T = 298.15

[format]
table = fancy_grid

[plot]
size_x = 8
size_y = 6

[matplotlib]
legend.fontsize = 9

[data]
magnitude_abs_tol = 1e-6
magnitude_rel_tol = 1e-5
phase_abs_tol = 1e-6
phase_rel_tol = 1e-5
