# Zero op-amp library, based on op-amp library from LISO, reproduced with
# permission. All credit goes to Gerhard Heinzel for the original measurements.
#
# Everything is in SI units:
#   - 'a0': DC open loop gain
#   - 'gbw': gain-bandwidth product for typical operating frequencies
#   - 'vnoise': voltage noise spectral density (V / sqrt(Hz))
#   - 'vcorner' voltage noise 1/f corner frequency
#   - 'inoise': current noise spectral density (A / sqrt(Hz))
#   - 'icorner': current noise 1/f corner frequency
#   - 'poles': pole frequencies in the op-amp's open-loop response
#   - 'zeros': zero frequencies in the op-amp's open-loop response
#
# Options that are not specified for a particular op-amp default to standard
# values. Depending on the parameter, the default can be drastically different
# from that of a particular op-amp, so be careful.
#
# Note that multiple pole/zero frequencies can be defined for each op-amp,
# and complex values can be specified by providing the q-factor after the
# frequency, e.g. "poles = 100k, 1M 1.8, 3M". These values are converted into
# single complex values internally.
#
# Unless mentioned explicitly, values are "typical" for the cheapest grade
# at 25 degrees. a0 should usually be uncritical; these are entered for
# large loads. The 1/f corner frequencies 'vcorner' and 'icorner' (in Hz) are
# often not well defined. Poles and zeroes of the open-loop transfer function
# are interpreted as additional features to the 1/f frequency response
# given by a0 and gbw.
#
# 'vmax' (in volts), 'imax' (in amperes) and 'sr' (in V/s) describe the
# output capabilities (used by the 'maxinput' command).
#
# Identical components with different names can be specified for the root
# component by specifying their names separated with spaces using the
# "aliases" entry, e.g. "aliases = op27, op47". This will create identical,
# but distinct op-amp classes.
#
# Please note: this library is experimental, incomplete and may be wrong.
# Whenever the individual op-amp properties become important, you must
# check yourself that the correct values are entered below.
#
# Strings starting with '#' are comments.

schema: 1
distributed_with: 0.8.0

op-amps:

  #op00:
    #description: (almost) ideal op-amp
    #a0: 1e12
    #gbw: 1e15
    #vnoise: 0
    #vcorner: 1
    #inoise: 0
    #icorner: 1
    #vmax: 12
    #imax: .02
    #poles:
    #  - 1G
    #zeros:
    #  - 1G
    #sr: 1e12
    #delay: 0
